body {
  font-size: 16px;
  background: url(../images/small-home.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
body.kids {
  background: url(../images/kids.jpg);
  background-size: cover;
}
body.help {
  background: url(../images/help.jpg);
  background-size: cover;
}
body.events {
  background: url(../images/events.jpg);
  background-size: cover;
}
body.services {
  background: url(../images/services.jpg);
  background-size: cover;
}
body.about {
  background: url(../images/about.jpg);
  background-size: cover;
}
body.involved{
  background: url(../images/getinvolved.jpg);
  background-size: cover;
}

nav ul {
  visibility: hidden;
}

button {
  visibility: hidden;
}
#tag-line {
  visibility: hidden;
}
h1 {
  visibility: hidden;
}
footer{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  /* Rectangle 2: */
  background-image: linear-gradient(-180deg, #FFFFF9 0%, #E4E4D3 100%);
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  /*position: relative;*/
  margin-top: 45vh;
  /*margin-bottom: -30vh;*/
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 1;
  padding: 0 0;

}
.tag {
  display: none;
}
img.wordmark {
  display: none;
}
img.small-wordmark {
  visibility: visible;
  max-width: 100px;
}
address {
font-family: 'Lato', sans-serif;
font-weight: 400;
font-style: normal;
font-size: .875em;

}
.left, .right{
display: flex;
flex-flow: column nowrap;
align-content: center;
justify-content: flex-start;
flex: .4;
}
.left {
padding-right: 2em;
}
/*.right {
align-self: center;
}*/
h2, h3 {
font-family: 'Droid Serif', serif;
font-size: 1em;
}




@media (min-width: 550px) {
  body {
  background: url(../images/large-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }
  h1 {
    visibility: visible;
  }

  a {
    color: #151515;
    text-decoration: none;
    padding: .5em 1em;
  }

  a:hover {
    color: #336699;
    text-decoration: underline;
  }

  nav ul {
    visibility: visible;
  }
  header {
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
  }
  nav {
    display: table;
    margin: 0 auto;

    /* Rectangle: */
background-image: linear-gradient(-180deg, #FFFFF9 0%, #E4E4D3 100%);
box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
  }
  nav ul {
    text-align: center;
    list-style: none;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    padding: .5em 1em;
    font-size: 1.25em;
    font-family: 'Lato', sans-serif;
    color: #336699;
    text-align: center;
    /*margin: 0 1em;*/
  }
.active a{
    color: #FFFFF0;
    padding: auto;
    /* Rectangle 3: */
   background-image: linear-gradient(-180deg, #79B5E7 0%, #447ECA 100%);
 }
li a:hover {
  color:#FFFFF0;
  background-color: #151515;
}
li a.active {
  color:#FFFFF0;
  background-image: linear-gradient(-180deg, #79B5E7 0%, #447ECA 100%);

}

  button {
    visibility: visible;
    background-image: linear-gradient(-180deg, #79B5E7 0%, #447ECA 100%);
    border: 1px solid #447ECA;
    border-radius: 5px;
    /* Directions: */
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: #FFFFF0;
  }
  .tag-line {
    visibility: visible;
    /* Rectangle 5: */
    background-image: linear-gradient(-180deg, #FFFFF9 0%, #E4E4D3 100%);
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    /* No Perfect People Al: */
    font-family: 'GloriaHallelujah', sans-serif;
    text-align: center;
    width: 55vw;
    font-size: 1.75em;
    color: #151515;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.50);
    margin: 10vh auto 0;
    padding: .5em 0;
  }
   .kid-heading {
    width: 30vw;
    margin: 5vh auto 0;
    padding: 0;
  }
  .event-heading {
    width: 20vw;
    margin: 3vh auto 0;
    padding:0;
  }
  .services-heading {
    width: 30vw;
    margin: 3vh auto 0;
    padding:0;
  }

  footer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    /* Rectangle 2: */
    background-image: linear-gradient(-180deg, #FFFFF9 0%, #E4E4D3 100%);
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    padding: 0 2em 2em;
  }
  .tag {
    display: block;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  img.wordmark {
    display: inline-flex;
    max-width: 300px;
    margin: 0 auto 0 0;
    padding-left: 2em;
    padding: 2em 0 0 0;
    z-index: 5;
  }
  img.small-wordmark {
    display: none;
  }
address {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;

}
.left, .right{
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  flex: .4;
}
.left {
  padding-right: 2em;
}
.right {
  align-self: center;
}
h2, h3 {
  font-family: 'Droid Serif', serif;
}

}
